
*


!.gitignore


!*/


!*.sv
!**/*.sv
!**/*.txt

!README.md
!README.*


db/
incremental_db/
output_files/
*.sof
*.pof
*.smsg
*.rpt
*.fit.rpt
*.map.rpt
*.flow.rpt
*.sta.rpt
*.map.summary
*.fit.summary
*.pin
*.jdi
*.cdf
*.qdb
*.qws
*.qsf
*.qpf
*.qrc
*.sdc
*.bak
